---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Icons
const data = [
  {
    year: "2025",
    title: "CSS Mesh",
    link: "https://cssmesh.com",
    description: `A collection of beautiful mesh gradients made with pure CSS. Click on any gradient to copy its CSS.`,
  },
  {
    year: "2025",
    link: "https://pricingpatterns.com",
    title: "Pricing Patterns",
    description: `Real-world pricing page examples.`,
  },
  {
    year: "2024",
    link: "https://oxbowui.com",
    title: "Oxbow UI ",
    description: `Components and UI Blocks crafted with Tailwind CSS. Clean, responsive, and simple to customize.`,
  },
  {
    year: "2023",
    title: "Lexington Themes",
    link: "https://lexingtonthemes.com",
    description: `Premium multipage themes crafted with Astro and Tailwind CSS.`,
  },
  {
    year: "2020",
    title: "SVG Doodles",
    link: "https://svgdoodles.com",
    description: `A free collection of different editable SVGs to spice up your designs.
`,
  },
  {
    year: "2018",
    title: "Colors & Fonts",
    link: "https://colorsandfonts.com",
    description: `Color & typography tools for web developers & digital designers.`,
  },
];
---

<section>
  <Wrapper variant="standard">
    <div
      class="grid grid-cols-1 gap-4 md:grid-cols-3 border-b py-8 border-base-200 dark:border-base-800"
    >
      <div class="lg:sticky lg:top-24 lg:z-40 self-start">
        <Text tag="h2" variant="textSM" class="text-base-900 dark:text-white">
          Projects
        </Text>
      </div>
      <div class="lg:col-span-2 flex flex-col gap-8">
        {
          data.map((project) => (
            <article class="group relative grid grid-cols-1 gap-4 lg:grid-cols-3 lg:items-start ">
              <div class="lg:col-span-2">
                <Text
                  tag="h3"
                  variant="textSM"
                  class=" font-medium tracking-tight text-base-900 dark:text-white    "
                >
                  <div class="absolute -inset-x-1 -inset-y-4 z-0 scale-95 bg-base-50 dark:bg-base-800/20    opacity-0 transition group-hover:scale-100 group-hover:opacity-100 -inset-x-4 rounded-2xl duration-300 " />
                  <a href={project.link}>
                    <>
                      <span class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl" />
                      <span class="relative z-10"> {project.title}</span>
                    </>
                  </a>
                </Text>
                <Text
                  tag="p"
                  variant="textXS"
                  class="relative z-10 mt-1 text-base-600 dark:text-base-500      "
                >
                  {project.description}
                </Text>
              </div>
              <Text
                tag="p"
                variant="textXS"
                class="relative z-10   flex items-center text-sm text-base-600 dark:text-base-400  lg:ml-auto"
              >
                <time datetime={project.year}> {project.year}</time>
              </Text>
            </article>
          ))
        }
      </div>
    </div>
  </Wrapper>
</section>
